Protocol 2
Port 2200
LoginGraceTime 1m
PermitRootLogin no
StrictModes yes
MaxAuthTries 2
PubkeyAuthentication yes
AuthorizedKeysFile	.ssh/authorized_keys
PasswordAuthentication no
PermitEmptyPasswords no
AllowAgentForwarding yes
AllowTcpForwarding yes
PermitTTY no
PrintMotd no
TCPKeepAlive yes
UsePrivilegeSeparation sandbox
PermitUserEnvironment no
PidFile /tmp/sshd.pid
PermitTunnel no
ForceCommand /sbin/nologin
AllowUsers bastion
